@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*,
*:after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard-Regular';
}

a {
    text-decoration: none;
}

/* header 시작 */
#header {
    position: relative;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: #9c9c9c;
    z-index: 16;
    text-align: center;
}

#header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 30px;
}

#header h1 img {
    width: 130px;
}

.hamburger {
    position: absolute;
    left: 15px;
    top: 18px;
    width: 25px;
    height: 25px;
}

.hamburger img {
    display: block;
    width: 25px;
}

.icon {
    position: absolute;
    right: 15px;
    top: 18px;
}

.icon li {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 3px;
}

.icon li a {
    display: block;
}

.icon img {
    width: 25px;
}

.search_icon {
    position: relative;
}

.search_icon img {
    position: absolute;
    left: 0;
    top: 0;
}

.cross_w {
    visibility: hidden;
    width: 20px;
}

/* header 끝 */

/* nav 시작 */
.modal_back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}

.back_on {
    opacity: 1;
    visibility: visible;
}

.body_lock {
    height: 100%;
    overflow: hidden;
}

#gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    left: -300px;
    /* 메뉴보이게 */
    z-index: 50;
}

.topban {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #9c9c9c;
}

.topban li {
    position: absolute;
}

.topban li:first-child {
    left: 10px;
    top: 13px;
}

.topban li:last-child {
    right: 10px;
    top: 13px;
}

.topban img {
    width: 25px;
}

.search {
    position: relative;
    height: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 2px solid black;
}

.search input {
    background: none;
    border: none;
    font-size: 1.1rem;
    outline: none;
    height: 30px;
    width: 100%;
}

.search li {
    position: absolute;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.search li:last-child {
    right: 0;
}

.search img {
    width: 30px;
}

.menu {
    width: 100%;
    margin: 2rem 0;
}

.menu>li {
    margin: 1rem 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.menu>li>a {
    display: block;
    width: 100%;
    color: black;
    position: relative;
    margin: 10px 0;
}

.toggle {
    position: relative;
    display: flex;
}

.toggle a {
    display: block;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
}

.toggle span {
    display: block;
}

.toggle span::after,
.toggle span::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 17px;
    height: 3px;
    background: black;
    transition: all 0.3s ease-out;
}

.toggle span::before {
    transform: rotate(-90deg);
    opacity: 1;
}

.toggle span.active::before {
    transform: rotate(0deg);
}

.toggle span.active::after {
    transform: rotate(180deg);
    opacity: 0;
}


.sub {
    display: none;
    background: #F5F5F5;
    padding: 5px 3rem;
}

.sub li a {
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 0.8rem;
    color: black;
    margin: 5px 0;
    font-family: 'Pretendard-Regular';

}

.sub li a:hover {
    font-weight: bold;
}

.box {
    width: 80%;
    margin: 5rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30px);
    grid-gap: 7px;
}

.box li {
    background: #F5F5F5;
    font-size: 0.8rem;
    line-height: 30px;
}

.box li a {
    display: block;
    color: #9c9c9c;
    font-family: 'Pretendard-Regular';
}

.box li:nth-child(4) {
    grid-column: 1/4;
    grid-row: 2/3;
}

.box li:nth-child(5) {
    grid-column: 1/4;
    grid-row: 3/4;
}

/* nav 끝 */

/* search_box 시작 */
.search_back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 14;
    opacity: 0;
    visibility: hidden;
}

.search_back_on {
    opacity: 1;
    visibility: visible;
}

.search_box {
    position: fixed;
    margin-top: 60px;
    width: 100%;
    height: 270px;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}

.search_box1 {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.search_box1 div:nth-child(1) {
    border-bottom: 2.5px solid #9c9c9c;
}

#value {
    width: 100%;
    height: 30px;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
}

.s_img {
    position: absolute;
    right: 0;
    top: 0;
}

.s_img img {
    width: 30px;
}

.tag {
    margin-top: 30px;
}

.tag p {
    margin-bottom: 10px;
}

.tag ul {
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
}

.tag li {
    background: #F5F5F5;
    font-size: 0.7rem;
    margin-right: 10px;
}

.tag li a {
    display: block;
    padding: 3px 5px;
    color: #000;
}

/* search_box 끝 */

/* main시작 */
#main1 {
    position: relative;
    margin-top: 60px;
}

#main1>button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    background: none;
    z-index: 5;
    cursor: pointer;
}

#main1 button.slick-prev {
    left: 0;
    font-size: 0;
}

#main1 button.slick-prev::before {
    content: "";
    background-image: url(../img/arrow_L.png);
    background-size: 100%;
    width: 50px;
    height: 60px;
    display: block;
}

#main1 button.slick-next {
    right: 0;
    font-size: 0;
}

#main1 button.slick-next::before {
    content: "";
    background-image: url(../img/arrow_R.png);
    background-size: 100%;
    width: 50px;
    height: 60px;
    display: block;
}

#main1 img {
    width: 100%;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slick-dots li {
    width: 30px;
    height: 15px;
    display: inline-block;
}

.slick-dots>li>button {
    font-size: 0;
    width: 25px;
    height: 3.5px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.slick-dots>li.slick-active button {
    background: rgba(0, 0, 0, 0.8);
}

/* main끝 */

/* BEST시작 */
#container {
    width: 80%;
    margin: 3rem auto;
}

#container h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #9c9c9c;
}

.best {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    text-align: center;
    font-size: 0.7rem;
}

.best li {
    display: none;
}

.best>li>a {
    position: relative;
    display: block;
    margin-bottom: 5px;
}

.best>li>a>img {
    width: 100%;
}

.best>li>a>span {
    display: block;
    margin: 6px 0;
    color: black;
    font-weight: bold;
}

.txt1 {
    text-decoration: line-through;
    font-weight: none;
    color: #9c9c9c !important;
}

.txt2 {
    font-size: 0.9rem;
}

.gif li {
    display: inline-block;
}

.best div>img {
    position: absolute;
    width: 20px;
    left: 7px;
    bottom: 90px;
}

.best div {
    display: none;
}

.more {
    width: 100%;
    font-size: 0.6rem;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
}

.more button {
    position: relative;
    width: 95px;
    height: 25px;
    padding-left: 20px;
    background: none;
    border: 1.5px solid #FCD1DB;
    border-radius: 7px;
    text-align: left;
    font-size: 14px;
    color: #000;
}

.more button:hover {
    background: #FCD1DB;
}

.more img {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 23px;
}

/* BEST끝 */

/* EVENT 시작 */
h3 {
    width: 80%;
    text-align: center;
    margin: 3rem 0;
    padding-bottom: 1.5rem;
    margin: 0 auto 1.5rem;
    border-bottom: 1px solid #9c9c9c;
}

.list {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.list img {
    width: 100%;
    margin-bottom: 10px;
}

.list>button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    outline: none;
    z-index: 10;
    cursor: pointer;
}

.list button::before {
    font-family: "xeicon";
    color: #fff;
    font-size: 15px;
}

.list button.slick-prev {
    left: 3px;
    font-size: 0;
}

.list button.slick-prev::before {
    content: "\e93b";
}

.list button.slick-next {
    right: 3px;
    font-size: 0;
}

.list button.slick-next::before {
    content: "\e93e";
}

/* EVENT 끝 */

/* fixd시작 */
.fixd {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 3rem;
}

.fixd::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/fixed_m.png) no-repeat center center fixed;
    background-size: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/* fixd끝 */

/* video 시작 */
.list2 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.videoContainer {
    padding-bottom: 56.25%;
    /* 화면비율 16:9 케이스 */
    width: 100%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.videoContainer iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    height: 90px;
    padding-left: 15px;
    background: #9c9c9c;
    color: #fff;
    font-size: 0.7rem;
}

.text>li {
    margin-bottom: 5px;
}

.txt3 {
    font-size: 1rem;
    padding-top: 13px;
    color: #FCD1DB;
    font-weight: 500;
}

.list_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.list_img img {
    width: 100%;
}

.list2>button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    outline: none;
    z-index: 10;
    cursor: pointer;
}

.list2 button::before {
    font-family: "xeicon";
    color: #fff;
    font-size: 15px;
}

.list2 button.slick-prev {
    left: 5px;
    font-size: 0;
}

.list2 button.slick-prev::before {
    content: "\e93b";
}

.list2 button.slick-next {
    right: 5px;
    font-size: 0;
}

.list2 button.slick-next::before {
    content: "\e93e";
}

/* video 끝 */

/* ARCHIVING 시작 */
.list4 {
    width: 85%;
    margin: 3rem auto;
}

.list4 h3 {
    width: 100%;

}

.list4_img li {
    margin-bottom: 3.5rem;
}

.list4_img img {
    width: 100%;
}

/* ARCHIVING 끝 */

/* top 아이콘 시작 */
.top {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 45;
    display: none;
}

.top img {
    width: 40px;
}

/* top 아이콘 끝 */

/* footer 시작 */
#footer {
    width: 100%;
    padding: 3rem 0;
    background: #d9d9d9;
}

.foot1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.foot1 img {
    width: 27px;
}

.foot2 {
    text-align: center;
    margin: 1.2rem 0;
}

.foot2 img {
    width: 170px;
}

.foot3 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
}

.foot3 ul {
    width: 100%;
}

.foot3 ul:nth-child(1) {
    width: 7 0%;
    margin: 10px 0;
}

.foot3 ul li {
    margin-bottom: 3px;
}

.foot4 {
    margin: 1.5rem auto;
    font-size: 0.7rem;
}

.foot4 span,
.foot5 span {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.foot5 {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
}

.foot6 {
    width: 60%;
    margin: 0 auto;
}

.foot6 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px;
    grid-column-gap: 20px;
}

.foot6 ul li {
    background-color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    line-height: 20px;
}

.foot6 ul li a {
    color: #9c9c9c;
}

.foot7 {
    width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
    padding: 1.5rem 0 0.7rem 0;
}

.foot7 ul {
    display: flex;
    justify-content: space-around;
}

.foot7 a {
    color: #000;
}

.foot8 {
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 1rem;
}

/* footer 끝 */
.tablet,
.desktop,
.quick_fixed {
    display: none !important;
}


/* tablet */
@media screen and (min-width:800px) {

    .mobile,
    .desktop {
        display: none !important;
    }

    .tablet {
        display: block !important;
    }

    /* tablet header */
    .hamburger img {
        width: 30px;
    }

    .icon li {
        margin-left: 10px;
    }

    .icon img {
        width: 30px;
    }

    /* tablet 메인 */
    #main2 {
        margin-top: 60px;
        position: relative;
        width: 100%;
    }

    #main2>button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        outline: none;
        background: none;
        z-index: 5;
        cursor: pointer;
    }

    #main2 button.slick-prev {
        left: 0;
        font-size: 0;
    }

    #main2 button.slick-prev::before {
        content: "";
        background-image: url(../img/arrow_L.png);
        background-size: 100%;
        width: 50px;
        height: 60px;
        display: block;
    }

    #main2 button.slick-next {
        right: 0;
        font-size: 0;
    }

    #main2 button.slick-next::before {
        content: "";
        background-image: url(../img/arrow_R.png);
        background-size: 100%;
        width: 50px;
        height: 60px;
        display: block;
    }

    #main2 img {
        width: 100%;
    }

    #container h3,
    h3,
    .list3 h3 {
        font-size: 1.3rem;
        width: 90%;
    }

    h3,
    .list3 h3 {
        width: 75%;
    }

    /* search_box 시작 */
    .search_box1 {
        width: 60%;
    }

    #value {
        height: 35px;
    }

    .s_img img {
        width: 35px;
    }

    .tag {
        margin-top: 40px;
    }

    .tag li {
        margin-right: 10px;
        font-size: 0.8rem;
    }

    .tag li a {
        display: block;
        padding: 5px 10px;
        color: #000;
    }

    /* tablet best */
    .best {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    span {
        font-size: 0.8rem;
    }

    .txt2 {
        font-size: 1rem;
    }

    .best div>img {
        width: 21px;
        left: 10px;
        bottom: 95px;
    }

    /* tablet event */
    .list1 {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .list1 img {
        width: 100%;
        margin-bottom: 10px;
    }

    .gap {
        margin: 0 10px;
    }

    .list1>button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.6);
        border: none;
        outline: none;
        z-index: 10;
        cursor: pointer;
    }

    .list1 button::before {
        font-family: "xeicon";
        color: #fff;
        font-size: 15px;
    }

    .list1 button.slick-prev {
        left: 15px;
        font-size: 0;
    }

    .list1 button.slick-prev::before {
        content: "\e93b";
    }

    .list1 button.slick-next {
        right: 15px;
        font-size: 0;
    }

    .list1 button.slick-next::before {
        content: "\e93e";
    }

    /* fixd시작 */
    .fixd {
        width: 100%;
        height: 400px;
    }

    .fixd::after {
        background: url(../img/fixed.png) no-repeat center center fixed;
        background-size: 100%;
    }

    /* video 시작 */
    .list3 {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .text1 {
        width: 100%;
        height: 130px;
        padding-left: 15px;
        background: #9c9c9c;
        color: #fff;
        font-size: 0.9rem;
    }

    .text1>li {
        padding: 5px;
    }

    .text1 .txt3 {
        font-size: 1.3rem;
        padding-top: 25px;
        color: #FCD1DB;
        font-weight: 500;
    }

    .list3_1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .videoContainer1 {
        padding-bottom: 56.25%;
        /* 화면비율 16:9 케이스 */
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
        text-align: center;
        position: relative;
        grid-column: 1/2;
    }

    .videoContainer1 iframe {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .list_img1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .list_img1 img {
        width: 100%;
    }

    .list3>button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.6);
        border: none;
        outline: none;
        z-index: 10;
        cursor: pointer;
    }

    .list3 button::before {
        font-family: "xeicon";
        color: #fff;
        font-size: 20px;
    }

    .list3 button.slick-prev {
        left: 10px;
        font-size: 0;
    }

    .list3 button.slick-prev::before {
        content: "\e93b";
    }

    .list3 button.slick-next {
        right: 10px;
        font-size: 0;
    }

    .list3 button.slick-next::before {
        content: "\e93e";
    }

    /* project 시작 */
    .project {
        position: relative;
        width: 100%;
        margin: 4rem 0;
    }

    .project a {
        display: block;
        color: #000;
    }

    .project img {
        width: 100%;
    }

    .project_text {
        position: absolute;
        top: 0;
        padding: 8% 0;
        right: 15%;
        text-align: center;
    }

    .project_text p {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #950008;
    }

    .project_text span {
        font-size: 0.9rem;
        line-height: 25px;
        display: block;
    }

    /* ani쓰기위해 숨기는 CSS */
    .project_text {
        visibility: hidden;
    }

    /* 자리차지하면서 숨김 */

    .fadeInUp {
        visibility: visible;
    }


    /* ARCHIVING 시작 */
    .list5 {
        width: 75%;
        margin: 0 auto;
    }

    .list5_img {
        display: flex;
    }

    .list5_img li {
        margin: 7px;
        margin-bottom: 5rem;
    }

    /* footer시작 */
    #pcfoot {
        width: 100%;
        background: #D9D9D9;
    }

    .pcfoot1 {
        width: 75%;
        margin: 0 auto 4rem;
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 16% 26% 26% 26%;
        grid-template-rows: repeat(2, 0.5fr);
        grid-gap: 10px;
    }

    .pcfoot1 img {
        width: 100%;
        height: 100%;
    }

    .pcfoot1_1 img {
        width: 100%;
    }

    .pcfoot1 p:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .pcfoot1 p:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .pcfoot1 p:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .pcfoot1 p:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .pcfoot1 p:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .pcfoot2 {
        width: 100%;
        background: #fff;
    }

    .pcfoot2_1 {
        width: 70%;
        margin: 0 auto 7rem;
        padding-top: 5rem;
        position: relative;
    }

    .foot_left {
        width: 30%;
        text-align: center;
    }

    .foot_left>li a img {
        width: 180px;
    }

    .foot_sns {
        width: 100%;
        margin-top: 1rem;
    }

    .foot_sns li {
        width: 20%;
        float: left;
        max-width: 20%;
    }

    .foot_sns img {
        width: 100%;
    }

    .foot_right {
        position: absolute;
        width: 55%;
        top: 4.5rem;
        right: 0;
        color: #9c9c9c;
    }

    .txt4 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .foot_right>span {
        font-size: 0.8rem;
        display: block;
        margin-bottom: 10px;
    }

    .foot_right ul li {
        display: inline-block;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .foot_right ul li a {
        color: #9c9c9c;
    }

}


/* desktop */
@media screen and (min-width:1290px) {

    .mobile,
    .tablet {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    #header {
        display: none;
    }

    /* desk header 시작 */
    #deskheader {
        width: 100%;
        height: 80px;
        z-index: 15;
        position: fixed;

    }

    h2 {
        position: absolute;
        right: 70px;
        top: 50%;
        transform: translateY(-50%);
    }

    h2 img {
        width: 160px;
    }

    #dmenu {
        width: 100%;
    }

    #dmenu>ul {
        float: left;
        width: 50%;
        height: 80px;
        background: #9c9c9c;
    }

    .navi {
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navi>li {
        width: 20%;
        text-align: center;
        font-size: 1.1rem;
    }

    .navi>li>a {
        display: block;
        color: #fff;
    }

    .sub1_back {
        position: absolute;
        width: 100%;
        top: 80px;
        height: 50px;
        background: #F5F5F5;
        display: none;
        box-shadow: 0 0 3px 0 #333;
    }

    .sub1 {
        position: absolute;
        top: 80px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: none;
    }

    .sub1 li {
        float: left;
        width: 110px;
    }

    .width1 li {
        margin-right: 40px;
    }

    .sub1 li a {
        display: block;
        color: #000;
        font-size: 0.9rem;
    }

    .sub1 li a:hover {
        font-weight: bold;
    }

    .search1 {
        display: flex;
        justify-content: start;
        text-align: center;
    }

    .search1 li {
        width: 50px;
    }

    .my {
        position: relative;
    }

    .login {
        position: absolute;
        width: 90px;
        left: 50%;
        transform: translateX(-50%);
        top: 65px;
        display: none;
        z-index: 10;
    }

    .login a {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 0.8rem;
        background: #393737;
        color: #fff;
    }

    .login a:hover {
        font-weight: bold;
    }

    .login a:nth-child(1) {
        border-bottom: 1.5px solid #000;
    }

    .search1>li:nth-child(3) {
        width: 5%;
    }

    .search1_1 {
        display: flex;
    }

    .search1_1 li:nth-child(1) {
        width: 85%;
        margin-right: 5%;
    }

    .search1_1 input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 3px solid #fff;
        font-size: 1.1rem;
        outline: none;
    }

    .search1_1 li:nth-child(2) {
        width: 15%;
    }

    .search1 img {
        width: 33px;
        margin-top: 25px;
    }

    /* search_box 시작 */
    .search_box {
        margin-top: 80px;
        width: 100%;
        height: 350px;
    }

    .search_box1 {
        width: 30%;
    }

    #value{
        font-size: 17px;
    }

    .tag p {
        font-size: 1.1rem;
    }

    .tag li{
        font-size: 0.9rem;
    }

    /* pc만 보이게 */
    .search_cross {
        width: 13%;
        margin: 0 auto ;
        margin-top: 60px;
        cursor: pointer;
    }

    .search_cross img {
        width: 20px;
    }

    .search_cross p {
        float: left;
        height: 20px;
        line-height: 20px;
        font-size: 0.8rem;
    }

    .search_cross p:nth-child(1) {
        margin-right: 3px;
    }

    /* desktop 메인 */

    #main3 {
        position: relative;
        width: 100%;
        padding-top: 80px;
    }

    #main3>button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        outline: none;
        background: none;
        z-index: 5;
        cursor: pointer;
    }

    #main3 button.slick-prev {
        left: 0;
        font-size: 0;
    }

    #main3 button.slick-prev::before {
        content: "";
        background-image: url(../img/arrow_L.png);
        background-size: 100%;
        width: 50px;
        height: 60px;
        display: block;
    }

    #main3 button.slick-next {
        right: 0;
        font-size: 0;
    }

    #main3 button.slick-next::before {
        content: "";
        background-image: url(../img/arrow_R.png);
        background-size: 100%;
        width: 50px;
        height: 60px;
        display: block;
    }

    #main3 img {
        width: 100%;
    }

    #container h3,
    h3,
    .list3 h3 {
        font-size: 1.5rem;
        text-align: left;
        width: 85%;
    }

    h3,
    .list3 h3 {
        width: 70%;
    }

    /* desktop best */
    #container {
        margin-top: 6rem;
    }

    h3 {
        margin-top: 6rem;
    }

    .best {
        width: 85%;
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .best>li>a>span:nth-child(3) {
        margin: 12px 0;
        font-size: 1rem;
    }

    .best .txt1 {
        font-size: 0.9rem;
    }

    .best .txt2 {
        font-size: 1.1rem;
    }

    .best div>img {
        position: absolute;
        width: 22px;
        left: 10px;
        bottom: 115px;
    }

    /* event 시작 */
    .list1 {
        width: 70%;
        margin-bottom: 6rem;
    }

    /* fixd시작 */
    .fixd {
        width: 100%;
        height: 600px;
    }

    /* video 시작 */
    .list3 {
        width: 70%;
    }

    /* project 시작 */
    .project {
        margin-top: 6rem;
    }

    .project_text {
        padding-top: 10%;
    }

    .project_text p {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    .project_text span {
        font-size: 1rem;
        line-height: 30px;
    }

    /* ARCHIVING 시작 */
    .list4 {
        width: 70%;
        margin-bottom: 6rem;
    }

    /* top버튼 시작 */
    .top img {
        width: 50px;
    }

    /* footer시작 */
    .pcfoot1 {
        width: 60%;
        margin: 0 auto 7rem;
        padding-top: 7rem;
        grid-column-gap: 30px;
    }

    .pcfoot2 {
        width: 100%;
        background: #fff;
    }

    .pcfoot2_1 {
        width: 60%;
        margin: 0 auto 8rem;
        padding-top: 5rem;
        position: relative;
    }

    .foot_left {
        width: 25%;
        text-align: center;
    }

    .foot_right {
        width: 60%;
    }

    .txt4 {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    .foot_right>span {
        font-size: 0.8rem;
        display: block;
        margin-bottom: 10px;
    }

    .foot_right ul li {
        display: inline-block;
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .quick_fixed {
        display: block !important;
        position: absolute;
        top: 600px;
        right: 30px;
    }

    .quick_fixed img {
        width: 130px;
    }

}